@font-face {
  font-family: Shabnam;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/woff2/Shabnam-Light-FD.woff2');
}

@font-face {
  font-family: Shabnam;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/woff2/Shabnam-FD.woff2');
}

@font-face {
  font-family: Shabnam;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/woff2/Shabnam-Medium-FD.woff2');
}

@font-face {
  font-family: Shabnam;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/woff2/Shabnam-Bold-FD.woff2');
}
